﻿<section data-ng-controller="EmailsController" data-ng-init="findOne()">
    <br/>
    <div>
        <a href="/#!/emails/{{email._id}}/edit" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit</a>
        <a href="#" data-ng-click="delete();" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Delete</a>
    </div>
    <br/>
    <div>
        <label>Subject:</label>
        <label data-ng-bind="email.subject"></label>
    </div>
    <div>
        <label>Content:</label>
        <p data-ng-bind="email.content"></p>
    </div>
    <div>
        <label>Recipients:</label>
        <label data-ng-bind="email.recipients"></label>
    </div>
    <a href="/#!/emails">Back To List</a>
</section>