﻿<section data-ng-controller="ShardingController" data-ng-init="init()">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>X</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="item in shardings | orderBy:'x'">
                <td data-ng-bind="item._id"></td>
                <td data-ng-bind="item.x"></td>
            </tr>
        </tbody>
    </table>
</section>
